body{
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#tarolo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
}

#tarolo button{
    aspect-ratio: 1;
    font-size: 2rem;
}